#banner {
    background-color: #F7F7F7;
    font-display: center;
    font-size: 15.5px;
    font-weight: 530;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding-top: 22px;
    padding-bottom: 22px; 
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #222;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
}
body {
    margin: 0%;
}